


data/*

private/*
!private/screenshots/

tmp
tmp/*

nimcache
*/nimcache
*/*/nimcache
*/*/*/nimcache

config/secret.cfg

nimha
nimha_main
src/alarm/alarm_runner
src/os/os_runner
src/timing/cron_runner
src/owntracks/owntracks_runner
src/web/web_runner
src/websocket/wss_runner
src/www/www_runner
src/xiaomi/xiaomi_listener
src/xiaomi/xiaomi_runner