

# Do not include database
data/*

# Log
log
log/*

# Include screenshots
private/*
!private/screenshots/

# Temp folder
tmp
tmp/*

# Nimcache folders
nimcache
*/nimcache
*/*/nimcache
*/*/*/nimcache

# Secret details
config/nimha_dev.cfg

# Main modules
nimhapkg/mainmodules/nimha_cron
nimhapkg/mainmodules/nimha_gateway
nimhapkg/mainmodules/nimha_gateway_ws
nimhapkg/mainmodules/nimha_webinterface
nimhapkg/mainmodules/nimha_websocket
nimhapkg/mainmodules/nimha_xiaomilistener

# Launcher
nimha

# VScode
.vscode