

# Do not include database
data/*

# Include screenshots
private/*
!private/screenshots/

# Temp folder
tmp
tmp/*

# Nimcache folders
nimcache
*/nimcache
*/*/nimcache
*/*/*/nimcache

# Secret details
config/secret.cfg

# Main modules
src/mainmodules/nimha_cron
src/mainmodules/nimha_gateway
src/mainmodules/nimha_webinterface
src/mainmodules/nimha_websocket
src/mainmodules/nimha_xiaomilistener

# Launcher
nimha

# VScode
.vscode