/*
    Nim Home Automation system
*/



/*
    Body
______________________________*/
body {
  background: whitesmoke;
  font-family: 'Poppins', sans-serif;
}
@media only screen and (max-width: 900px) {
  body {
    font-size: 85%;
  }
}
p {
  font-family: 'Poppins', sans-serif;
}


/*
    Page wrappers
______________________________*/
.wrapper {
  display: flex;
  align-items: stretch;
}
#pagewrapper {
  width: 100%;
  padding: 20px;
}



/*
    Footer
______________________________*/
footer {
  border-top: 1px solid #dee2e6;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  bottom: 0;
  display: block;
  width: 100%;
  background: rgba(28, 121, 221, 0.98);
  z-index: 999;
}
footer #footerInside {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
footer a,
footer p,
footer h5 {
  color:white;
}
@media only screen and (max-width: 768px) {
  footer {
    position: initial;
    bottom: auto;
  }
}


/*
    Header
______________________________*/
header {
  display: flex;
  width: 100%;
}


/*
    Navbar
______________________________*/
nav#navbar{
  background: rgba(28, 121, 221, 0.98);
  width: 100%;
}
nav#navbar #sidebarToggle {
  cursor: pointer;
}
nav#navbar #sidebarToggle:hover {
  color: rgb(225, 225, 225);
}
nav#navbar .navbar-brand {
  color: white;
  margin-right: 30px;
}
nav#navbar a.nav-link {
  color: white;
}
nav#navbar .navbar-toggler {
  border: none;
}
nav#navbar .navbar-toggler-icon {
  border: 1px solid white;
}

/*
  Navbar settings
*/
div#navbarSettings {
  z-index: 1000;
  top: 0;
  position: fixed;
}
div#navbarSettings a {
  color: white;
}
div#navbarSettings .dropdown-menu a {
  color: black;
}

/*
  Navbar card order
*/
nav#navbar a.nav-link.trash > * {
  display: none;
}
nav#navbar a.nav-link.trash img {
  width: 20px;
  height: auto;
  display: block;
}




/*
    Bootstrap override
______________________________*/
input {
  border: none;
  border-bottom: 1px solid grey;
  padding-left: 5px;
}
input:focus {
  box-shadow: 2px 2px 5px 0px rgba(186,186,186,1);
  outline: auto;
}
a.btn,
button.btn {
  font-size: 95%;
  height: 26px;
  line-height: 12px;
  margin-top: 5px;
}
span.badge {
  cursor: pointer;
}
span.badge:hover {
  -webkit-box-shadow: 2px 0px 3px 0px rgba(171,171,171,1);
  -moz-box-shadow: 2px 0px 3px 0px rgba(171,171,171,1);
  box-shadow: 2px 0px 3px 0px rgba(171,171,171,1);
}
span.badge:active {
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
}



/*
    Notification
______________________________*/
#notification {
  display: none;
  position: absolute;
  z-index: 9999;
  top: 0;
  text-align: right;
  width: 100%;
}
#notification .inner {
  line-height: 57px; /* Needs to be adjusted to multi lines resp */
  width: 250px;
  margin-left: auto;
  background: #27cb4ede;
  text-align: center;
  overflow: hidden;
  -webkit-box-shadow: 0 0 5px black;
  -moz-box-shadow: 0 0 5px black;
  box-shadow: 0 0 5px black;
}




/*
    Sidebar
______________________________*/
nav#sidebar {
  min-width: 250px;
  max-width: 250px;
  transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
  transform-origin: center left;
  background: white;
  border-right: 1px solid rgba(128, 128, 128, 0.36);
  -webkit-box-shadow: 4px 0px 5px 0px rgba(168,168,168,1);
  -moz-box-shadow: 4px 0px 5px 0px rgba(168,168,168,1);
  box-shadow: 4px 0px 5px 0px rgba(168,168,168,1);
}
nav#sidebar.active {
  margin-left: -250px;
  transform: rotateY(100deg);
}
nav#sidebar {
  min-width: 250px;
  max-width: 250px;
  min-height: 100vh;
  padding: 20px;
}
nav#sidebar a,
nav#sidebar a:hover,
nav#sidebar a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}
nav#sidebar ul.components {
  padding: 10px 0;
  border-bottom: 1px solid #47748b;
}
nav#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}
nav#sidebar ul li a:hover {
  color: rgb(52, 40, 207);
  background: #fff;
}
nav#sidebar #submenu1 li {
  padding-left: 15px;
}
nav#sidebar .sidebar-header {
  margin-top: 15px;
}
@media (max-width: 768px) {
  nav#sidebar.active {
    text-align: center;
    margin-left: 0px !important;
    transform: initial;
  }
  /* Reappearing the sidebar on toggle button click */
  nav#sidebar {
    margin-left: -250px;
  }
}


/*
    Scrollbar
______________________________*/
.scrollbar::-webkit-scrollbar{
  width: 5px;
}
.scrollbar::-webkit-scrollbar {
    width: 5px;
}
.scrollbar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
.scrollbar::-webkit-scrollbar-thumb {
  outline: 1px solid slategrey;
  background-color: #555;
}



/*
    Global utils
______________________________*/
.hide {
  display: none;
}



/*
    Login
______________________________*/
div#login {
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 50px;
}
div#login input,
div#login button {
  margin-top: 15px;
}



/*
    Dashboard
______________________________*/
/* Card items */
.item .inner {
  border-radius: 2px;
  transition: all 0.30s ease-out;
  background-color: white;
  border: 1px solid #ececec78;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(219,219,219,1);
  -moz-box-shadow: 2px 2px 5px 0px rgba(219,219,219,1);
  box-shadow: 2px 2px 5px 0px rgba(219,219,219,1);
  min-height: 200px;
  padding: 15px;
  margin-top: 10px;
}
/* Handle to drag and drop */
.icon-handle {
  display: none;
}
@media only screen and (max-width: 810px) {
  .item .inner .heading>div {
    display: inline-block;
  }
  .icon-handle {
    background-image: url("/images/icon_handle.png");
    width: 20px;
    height: 20px;
    background-repeat: no-repeat, repeat;
    background-size: contain;
    vertical-align: sub;
    margin-right: 10px;
  }
}



/*
  Card items sub elements
_____________________________*/
/*
  Certificates SSL
*/
.item .inner .certexpiry .heading {
  font-weight: 700;
  padding-bottom: 10px;
}
.item .inner .certexpiryInner div.cert {
  border-bottom: 1px solid grey;
  padding: 5px;
}
.item .inner .certexpiryInner div.cert .days {
  display: inline-block;
  width: 70px;
}
.item .inner .certexpiryInner div.cert label {
  width: 180px;
  margin-bottom: 2px;
  margin-top: 2px;
}
.item .inner .certexpiryInner div.cert .certRefresh {
  cursor: pointer;
}


/*
  Alarm
*/
.item .inner .alarm .heading {
  font-weight: 700;
  padding-bottom: 10px;
}
.item .inner .alarmInner>div {
  border-bottom: 1px solid grey;
  padding: 5px;
}
.item .inner .alarmInner label {
  width: 150px;
  margin-bottom: 2px;
  margin-top: 2px;
}
.item .inner .alarmInner span.badge-secondary {
  margin-right: 5px;
}
.item .inner .alarmInner span.badge-warning {
  cursor: pointer;
}
div.alarmInner span.status.badge {
  cursor: default;
}
div.alarmInner span.status.badge:hover {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}


/*
  Pushbullet
*/
.item .inner .pushbullet .heading {
  font-weight: 700;
  padding-bottom: 10px;
}
.item .inner .pushbulletInner>div {
  border-bottom: 1px solid grey;
  padding: 5px;
}
.item .inner .pushbulletInner label {
  width: 180px;
  margin-bottom: 2px;
  margin-top: 2px;
}
.item .inner .pushbulletInner .badge {
  cursor: pointer;
}


/*
  MJPEG stream
*/
.item .inner .filestream .heading {
  padding-bottom: 10px;
}
.item .inner .filestream .heading .badge {
  cursor: pointer;
}
.item .inner .filestream .heading span.heading {
  font-weight: 700;
  padding-right: 15px;
}
.item .inner .filestream img {
  width: 100%;
  height: auto;
  max-height: 400px;
}



/*
  RSS
*/
.item .inner .rss .heading {
  font-weight: 700;
  padding-bottom: 10px;
  margin-right: 15px;
}
.item .inner .rssInner {
  max-height: 400px;
  overflow: auto;
}
.item .inner .rssInner .rss-container>div {
  border-bottom: 1px solid grey;
  padding: 5px;
  font-size: 12px;
}
.item .inner .rssInner div .title {
  display: inline;
}
.item .inner .rssInner div .pubDate,
.item .inner .rssInner div .updated,
.item .inner .rssInner div .modified,
.item .inner .rssInner div .created,
.item .inner .rssInner div .creation,
.item .inner .rssInner div .date,
.item .inner .rssInner div .name {
  display: block;
  padding: 0px 2px;
  border-radius: 3px;
  width: 200px;
  font-weight: 300;
}
.item .inner .rssInner .badge {
  cursor: pointer;
}



/*
  Xiaomi
*/
.item .inner .xiaomi .heading {
  font-weight: 700;
  padding-bottom: 10px;
}
.item .inner .xiaomiInner div.device {
  border-bottom: 1px solid grey;
  padding: 5px;
}
.item .inner .xiaomiInner div.device .value {
  display: inline-block;
  width: 100px;
}
.item .inner .xiaomiInner div.device label {
  width: 150px;
  margin-bottom: 2px;
  margin-top: 2px;
}
.item .inner .xiaomiInner div.device .xiaomiRefresh {
  cursor: pointer;
}


/*
  Owntracks (Google map)
*/
.item .inner .owntracks .heading {
  font-weight: 700;
  padding-bottom: 10px;
}
.item .inner .owntracks .heading .owntracksRefresh {
  cursor: pointer;
  float: right;
}
.item .inner .owntracksInner #map {
  max-height: 400px;
}


/*
  Websocket users
*/
.item .inner .wsusers .heading {
  font-weight: 700;
  padding-bottom: 10px;
}
.item .inner .wsusersInner>div {
  border-bottom: 1px solid grey;
  padding: 5px;
}
.item .inner .wsusersInner>div label {
  margin-bottom: 0px;
  margin-top: 0px;
  width: 50%;
}
.item .inner .wsusersInner>div label>span {
  font-weight: 600;
}


/*
  Xiaomi devices
*/
#xiaomiDevices {
  max-width: 1400px;
}
div.deviceList table.devicelist td,
div.deviceActions table.deviceActions td{
  border: 1px solid grey;
  padding: 5px;
}
div.deviceList table.devicelist td.btn ,
div.deviceActions table.deviceActions td.btn {
  width: 100%
}
div.deviceActions table.deviceActions tr>td>input {
  width: 180px;
}


/*
  OS stats
*/
.item .inner .osstats .heading {
  padding-bottom: 10px;
}
.item .inner .osstats .heading .badge {
  cursor: pointer;
}
.item .inner .osstats .heading span.heading {
  font-weight: 700;
  padding-right: 15px;
}
.item .inner .osstatsInner>div {
  border-bottom: 1px solid grey;
  padding: 5px;
}
.item .inner .osstatsInner>div label {
  margin-bottom: 0px;
  margin-top: 0px;
  width: 170px;
  font-weight: 600;
}




/*
  Pages
_______________________________*/

/*
  Certificates
*/
div#certificates {
  margin-left: 20px;
}
div#certificates table {
  width: auto;
}
div#certificates table.certList td {
  border: 1px solid grey;
  padding: 5px;
}
div#certificates table.certList thead>tr>td {
  padding: 0px;
}
div#certificates table.certList td.btn {
  width: 100%;
  border-radius: 0px;
}
div#certificates table.certList tr>td>input {
  width: 180px;
}
div#certificates table.certList tr>td>input.port {
  width: 80px;
}


/*
  Owntracks
*/
div#owntracksDevices table.deviceList,
div#owntracksDevices table.waypoints {
  width: auto;
}
div#owntracksDevices table.deviceList td.btn,
div#owntracksDevices table.waypoints td.btn {
  width: 100%;
  border-radius: 0px;
}
div#owntracksDevices table.deviceList td,
div#owntracksDevices table.waypoints td {
  border: 1px solid grey;
  padding: 5px;
}


/*
  Alarm
*/
div#alarm div.alarmDetails button {
  display: block;
  width: 90px;
}
div#alarm div.alarmDetails label {
  width: 250px;
}
div#alarm div.alarmDetails input.alarmCountdown,
div#alarm div.alarmDetails input.alarmArmtime {
  width: 90px;
  text-align: center;
}
div#alarm div.alarmPasswords select,
div#alarm div.alarmPasswords input {
  width: 250px;
}
div#alarm div.alarmPasswords button {
  display: block;
}
div#alarm table.alarmActions,
div#alarm table.alarmPasswords {
  max-width: 800px;
}
div#alarm table.alarmActions .alarmDeleteAction,
div#alarm table.alarmActions .alarmActionAdd,
div#alarm table.alarmPasswords .alarmDeletePassword {
  width: 100%;
}


/*
  Raspberry Pi
*/
div#rpi table.rpiTemplates .btn {
  display: table-cell;
  width: 55px;
}
div#rpi table.rpiTemplates {
  max-width: 1200px;
}


/*
  Alarm numpad
*/
div#alarmModel div.modal-dialog {
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}
div#alarmModel div.row div.col-4 {
  text-align: center;
}
div#alarmModel #alarmNumpad .password {
  text-align: center;
  font-size: 30px;
  padding: 0rem 0.2rem;
  line-height: 12px;
}
div#alarmModel button.alarmpad {
  border-radius: 50px;
  width: 50px;
  height: 50px;
  margin-top: 35px;
}
div#alarmModel div.modal-footer button {
  width: 50%;
}
@media only screen and (max-width: 900px) {
  div#alarmModel button.alarmpad {
    margin-top: 20px;
  }
}



/*
  Mail
*/
div#mail div.mailSettings button {
  display: block;
  width: 90px;
}
div#mail div.mailSettings label {
  width: 250px;
}
div#mail div.mailSettings input.recipient {
  width: 250px;
}


/*
  OS
*/
div#os table.osTemplates {
  width: 800px;
}
div#os div.osTest {
  width: 250px;
}


/*
  Pushbullet
*/
div#pushbullet div.pushbulletApi button.pushbulletApiUpdate {
  display: block;
  width: 90px;
}
div#pushbullet div.pushbulletApi label {
  width: 250px;
}
div#pushbullet div.pushbulletApi input.api.key {
  width: 300px;
}
div#pushbullet table.pushbulletTemplates {
  max-width: 1200px;
}


/*
  RSS
*/
div#rss div.rssApi button.rssApiUpdate {
  display: block;
  width: 90px;
}
div#rss div.rssTestFeed {
  width: 350px;
}
div#rss div.rssTestFeed label {
  margin-bottom: 0rem;
  margin-top: 0.5rem;
}
div#rss div.rssTestFeed button#rssTestFeed {
  margin-top: 10px;
}
div#rss table.rssFeeds {
  max-width: 1200px;
}
div#rss table.rssFeeds .rssFeedsAdd,
div#rss table.rssFeeds .rssFeedDelete {
  width: 100%;
}


/*
  Cron
*/
div#cron table.cronActions {
  max-width: 800px;
}
div#cron table.cronActions .cronDeleteAction,
div#cron table.cronActions .cronActionAdd {
  width: 100%;
}
div#cron table.cronActions thead td.time {
  width: 100px;
}
div#cron table.cronActions thead td.time input.crontime {
  text-align: center;
}
div#cron table.cronActions tbody td.time {
  text-align: center;
}


/*
  Filestream
*/
div#filestream table.filestream {
  max-width: 600px;
}
div#filestream table.filestream .streamDelete,
div#filestream table.filestream .filestreamAdd {
  width: 100%;
}


/*
  MQTT
*/
div#mqtt table.mqtt {
  max-width: 800px;
}
div#mqtt table.mqtt .mqttActionDelete,
div#mqtt table.mjpegmqttstream .mqttActionAdd {
  width: 100%;
}


/*
  Settings
*/
div#settings div.settings.restart a {
  margin-bottom: 20px;
}