# nimha systemd target

[Unit]
Description=nimha
Documentation=man:nimha
Before=network-online.target

[Service]
Type=simple
ExecStart=/usr/sbin/nimha --cfg /etc/nimha.cfg
TimeoutStopSec=10
KillMode=mixed
KillSignal=SIGTERM

User=nimha
Group=nimha

Restart=on-abnormal
RestartSec=2s
#LimitNOFILE=65536

WorkingDirectory=/
#WatchdogSec=30s

# Hardening
NoNewPrivileges=yes

CapabilityBoundingSet=

# Configure system call filtering whitelist
SystemCallFilter=@memlock @system-service

# Connect is used by Nimble :-/
#SystemCallFilter=~connect

ProtectSystem=strict
PrivateDevices=yes
PrivateTmp=yes
ProtectHome=yes
ProtectKernelModules=true
ProtectKernelTunables=yes

PrivateUsers=no

StandardOutput=syslog
StandardError=syslog

ReadWriteDirectories=-/proc/self
ReadWriteDirectories=-/var/lib/nimha
ReadWriteDirectories=-/var/run/nimha

[Install]
WantedBy=multi-user.target
