#? stdtmpl | standard
#
#
#
#
#
#
#
#
#proc genMainHead(c: var TData): string = 
# result = "" 
<meta name="description" content="Nim Website Creator">
<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0" />

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="/css/style.css">

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous" defer></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous" defer></script>

# if c.loggedIn:
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2.2.0/src/js.cookie.min.js" defer></script>

<script src="http://maps.google.com/maps/api/js" type="text/javascript" defer></script>

<script src="/js/js.js" defer></script>
# end if
#end proc
#
#
#proc genMainHeader(): string = 
# result = "" 
<nav id="navbar" class="navbar navbar-expand-md navbar-dark">
  <div class="heading">
    <a id="sidebarToggle" class="navbar-brand">Nim Home Assistant</a>
  </div>
  <!--<div id="navbarInside">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <a class="navbar-brand" href="/">Nim Home Assistant</a>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/">Frontpage</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/blog">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/p/about">About</a>
        </li>
      </ul>
    </div>
  </div>-->
</nav>
#end proc
#
#
#proc genMainSidebar(): string = 
# result = "" 
<nav id="sidebar">
  <div class="sidebar-header">
    <h3>Menu</h3>
  </div>
  <ul class="list-unstyled components">
    <li><a href="/">Home</a></li>
    <li><a href="/live">Live monitoring</a></li>
    <li>
      <a href="#submenu1" data-toggle="collapse" aria-expanded="false">Pages</a>
      <ul class="collapse list-unstyled" id="submenu1">
        <li><a href="/xiaomi/devices">Xiaomi devices</a></li>
        <li><a href="/owntracks">Owntracks</a></li>
        <li><a href="/certificates">Certificates</a></li>
        <li><a href="/alarm">Alarm</a></li>
        <li><a href="/pushbullet">Pushbullet</a></li>
        <li><a href="/mail">Mail</a></li>
      </ul>
    <li><a href="https://github.com/ThomasTJdev/nim_homeassistant">Github</a></li>
    <li><a href="/logout">Logout</a></li>
  </ul>
</nav>
#end proc
#
#
#proc genMainFooter(): string = 
# result = "" 
<div id="footerInside">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-3 footerLeft">
        <p>
          <p>© 2018 - <a href="https://ttj.dk"><u>Thomas T. Jarløv</u></a></p>
        </p>
      </div>
      <div class="col-12 col-md-6 footerMiddle">
      </div>
      <div class="col-12 col-md-3 footerRight">
        <p>
          <p>License: GPLv3 - <a href="https://github.com/ThomasTJdev/nim_websitecreator"><u>Github</u></a></p>
        </p>
      </div>
    </div>
  </div>
</div>   
#end proc
#
#
#proc genMainNotify(): string = 
# result = "" 
<div id="notification">
  <div class="inner">
    Notification
  </div>
</div>
#end proc
#
#
#
#proc genMain(c: var TData): string = 
# result = "" 
<head>
  ${genMainHead(c)}
</head>

<body>
  <header>
    ${genMainHeader()}
  </header>

  <main>
    <div id="pageType" data-userid="${c.userid}" data-type="dashboard" style="display: none;"></div>
    <div class="wrapper">
      ${genMainSidebar()}



      <!--
          Main area
      -->

      <div id="pagewrapper">
        <div class="container-fluid">
          <div class="row">



            <div class="item col-12 col-sm-6 col-md-6 col-lg-3">
              <div class="inner">
                # let alarmStatus = getValue(db, sql"SELECT status FROM alarm WHERE id = ?", "1")
                # template alarmClass(status: string): string =
                #   if status == alarmStatus:
                #     if alarmStatus == "disarmed":
                #       "badge-success"
                #     else:
                #       "badge-danger"
                #     end if
                #   else:
                #     "badge-secondary"
                #   end if
                # end template
                #
                # template alarmText(status: string): string =
                #   if status == alarmStatus:
                #     "True"
                #   else:
                #     "False"
                #   end if
                # end template
                #
                # var canActivate = ""

                <div class="alarm">
                  <div class="heading">Alarm status</div>
                  <div class="alarmInner">
                    <div class="disarmed">
                      <label>Disarmed</label>
                      <span class="status disarmed badge ${alarmClass("disarmed")}">${alarmText("disarmed")}</span>
                      # canActivate = ""
                      # if alarmText("disarmed") == "True":
                      #   canActivate = "hide"
                      # end if
                      <span data-status="disarmed" class="$canActivate activate badge badge-warning">Activate</span>
                    </div>
                    <div class="armAway">
                      <label>Armed away</label>
                      <span class="status armAway badge ${alarmClass("armAway")}">${alarmText("armAway")}</span>
                      # canActivate = ""
                      # if alarmText("armAway") == "True":
                      #   canActivate = "hide"
                      # end if
                      <span data-status="armAway" class="$canActivate activate badge badge-warning">Activate</span>
                    </div>
                    <div class="armHome">
                      <label>Armed home</label>
                      <span class="status armHome badge ${alarmClass("armHome")}">${alarmText("armHome")}</span>
                      # canActivate = ""
                      # if alarmText("armHome") == "True":
                      #   canActivate = "hide"
                      # end if
                      <span data-status="armHome" class="$canActivate activate badge badge-warning">Activate</span>
                    </div>
                    <div class="triggered">
                      <label>Triggered</label>
                      <span class="status triggered badge ${alarmClass("triggered")}">${alarmText("triggered")}</span>
                    </div>
                    <div class="ringing">
                      <label>Ringing</label>
                      <span class="status ringing badge ${alarmClass("ringing")}">${alarmText("ringing")}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>



            # let certificates = getAllRows(db, sql"SELECT name, url, port FROM certificates ORDER BY name ASC")
            # if certificates.len() > 0:
            <div class="item col-12 col-sm-6 col-md-6 col-lg-3">
              <div class="inner">
                <div class="certexpiry">
                  <div class="heading">Cert expiration</div>
                  <div class="certexpiryInner">
                    # for cert in certificates:

                      <div class="cert">
                        <label>${cert[0]}</label>
                        <div class="days ${replace(cert[1], ".", "")}"></div>
                        <span data-server="${cert[1]}" data-port="${cert[2]}" class="certRefresh badge badge-primary">Refresh</span>
                      </div>

                    # end for
                  </div>
                </div>
              </div>
            </div>
            # end if


            # let pushAll = getAllRows(db, sql"SELECT id, name FROM pushbullet_templates")
            # if pushAll.len() > 0:
            <div class="item col-12 col-sm-6 col-md-6 col-lg-3">
              <div class="inner">
                <div class="pushbullet">
                  <div class="heading">Pushbullet</div>
                  <div class="pushbulletInner">
                    <div>
                      <label>Test message</label>
                      <span class="badge badge-primary" id="pushbulletTest">Send</span>
                    </div>
                    # for push in pushAll:
                    <div>
                      <label>${push[1]}</label>
                      <span data-pushid="${push[0]}" class="badge badge-primary pushbulletSend">Send</span>
                    </div>
                    # end for
                  </div>
                </div>
              </div>
            </div>
            # end if


            # let xiaomiDevices = getAllRows(db, sql"SELECT xdd.sid, xd.name, xdd.value_name, xdd.action FROM xiaomi_devices_data AS xdd LEFT JOIN xiaomi_devices AS xd ON xd.sid = xdd.sid WHERE xdd.triggerAlarm = ? ORDER BY xd.name ASC", "false")
            # if xiaomiDevices.len() > 0:
            <div class="item col-12 col-sm-6 col-md-6 col-lg-3">
              <div class="inner">
                <div class="xiaomi">
                  <div class="heading">Xiaomi device status</div>
                  <div class="xiaomiInner">
                    # for device in xiaomiDevices:
                    <div class="${device[0]} device ${device[2]}">
                      <label>${device[1]}</label>
                      <div class="value"></div>
                      <span data-sid="${device[0]}" data-action="${device[3]}" data-value="${device[2]}" class="xiaomiRefresh badge badge-primary">Refresh</span>
                    </div>
                    # end for
                  </div>
                </div>
              </div>
            </div>
            # end if



            <div class="item col-12 col-sm-6 col-md-6 col-lg-3">
              <div class="inner">
                <div class="owntracks">
                  <div class="heading">Owntracks map <span class="owntracksRefresh badge badge-primary">Refresh</span></div>
                  <div class="owntracksInner">
                    <div id="map" style="width: 100%; height: 100%"></div>
                  </div>
                </div>
              </div>
            </div>


            

            <div class="item col-12 col-sm-6 col-md-6 col-lg-3">
              <div class="inner">
                <div class="wsusers">
                  <div class="heading">Websocket users</div>
                  <div class="wsusersInner">
                  </div>
                  <div class="user clone" style="display: none">
                  </div>
                </div>
              </div>
            </div>


            <div class="item col-12 col-sm-6 col-md-6 col-lg-3">
              <div class="inner">
                <div class="osstats">
                  <div class="heading">
                    <span class="heading">OS stats</span>
                    <span id="osstatsRefresh" class="badge badge-primary">Refresh</span>
                  </div>
                  <div class="osstatsInner">
                    <div class="stats">
                      <label>Free mem: </label> <span class="freemem"></span>
                    </div>
                    <div class="stats">
                      <label>Used mem: </label> <span class="usedmem"></span>
                    </div>
                    <div class="stats">
                      <label>Free swap: </label> <span class="freeswap"></span>
                    </div>
                    <div class="stats">
                      <label>Used swap: </label> <span class="usedswap"></span>
                    </div>
                    <div class="stats">
                      <label>Host IP: </label> <span class="hostip"></span>
                    </div>
                    <div class="stats">
                      <label>Active connections: </label> <span class="connections"></span>
                    </div>
                  </div>
                  </div>
                </div>
              </div>
            </div>


          </div>
        </div>
      </div>



    </div>
  </main>
  ${genAlarmNumpad(c)}

  <footer>
    ${genMainFooter()} 
  </footer>

  ${genMainNotify()}

</body>


#end proc