#? stdtmpl | standard
#
#
#
#
#proc genLogin(c: var TData, errorMsg = ""): string = 
# result = "" 
<head>
  ${genMainHead(c)}
</head>

<body>
  <header>
    ${genMainHeader()}
  </header>

  <main>
    <div id="pageType" data-userid="${c.userid}" data-type="login" style="display: none;"></div>
    <div class="wrapper">

      <div id="pagewrapper">
        <div id="login">
         
          <h1>Login</h1>

          # if errorMsg != "":
          <h3 style="color: red;">$errorMsg</h3>
          # end if

          <form method="POST" action="/dologin">
            <input type="email" name="email" class="form-control" placeholder="Email" />
            <input type="password" name="password" class="form-control" placeholder="Password" />

            #if useCaptcha:
            <div id="recaptcha">
              <div class="g-recaptcha" data-sitekey="${recaptchaSiteKey}" data-theme="light" style="transform:scale(0.93);-webkit-transform:scale(0.93);transform-origin:0 0;-webkit-transform-origin:0 0;"></div>
              <script src="https://www.google.com/recaptcha/api.js" async defer></script>      
            </div>
            #end if

            <button type="submit" class="btn btn-primary">Login</button>
          </form>

        </div>
      </div>
    </div>
  </main>

  <footer>
    ${genMainFooter()} 
  </footer>

</body>
#end proc