Source: nimha
Section: admin
Priority: optional
Maintainer: Federico Ceratto <federico.ceratto@gmail.com>
Build-Depends: debhelper-compat (= 12),
 dh-systemd
Standards-Version: 4.3.1

Package: nimha
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, mosquitto-clients
Description: Nim Home assitant
